html, body, div, span, applet, object, iframe,h1, h2, h3, h4, h5, h6, p, blockquote, pre,a, abbr, acronym, address,big, cite, code,del, dfn, em, img, ins, kbd, q, s, samp,small, strike, strong, sub, sup, tt, var,b, u, i, center,dl, dt, dd, ol, ul,li,fieldset, form, label, legend,table, caption, tbody, tfoot, thead, tr, th, td,article, aside, canvas, details, embed,figure, figcaption,footer, header, hgroup,menu, nav, output, ruby, section, summary,time, mark, audio, video {margin: 0;padding: 0;border: 0;font-size: 100%;font: inherit;vertical-align: baseline;}article, aside, details, figcaption, figure,footer,header, hgroup, menu, nav, section {display: block;}body {line-height: 1;}ol, ul{list-style: none;}blockquote, q {quotes: none;}blockquote:before, blockquote:after,q:before, q:after {content: "";content: none;}table {border-collapse: collapse;border-spacing: 0;}
<style>

/* VARIOUS MEDIA SETTINGS */ 
    
    /* Mobil size */
   @media (max-width: 500px) { 
       .logo{
           height: 150px;
           background: gray;
        }
    } 	
      

    /* Pad/Tablet in regular size */
    @media (min-width: 500px){  
        .banner{
            display:flex;
        }
        
        .shoppingContainer {
            display: flex;
            flex-wrap: wrap;
        }
		
		.footContainer {
			display: flex;
			flex-wrap: wrap;
		}
    
        .carTrailerBox{
            box-sizing: border-box;
            flex-basis: 50%;
        }
		
		.footerBox{
			box-sizing: border-box;
			flex-basis: 50%;
		}
            
        .logo{
            display: none;
        
        }
    }
    /* Pad/Tablet in landscape modus */
    @media (min-width: 1024px){
        .carTrailerBox{
            flex-basis: 33.3%;
        }
		
		.footerBox{
			flex-basis: 33.3%;
		}
    }  

    /* Size for desktop */
   @media (min-width: 1240px){
        .carTrailerBox{
            flex-basis: 25%;
        }
	   
	   .footerBox{
			flex-basis: 33.3%;
		}
    }

/* NORMAL CSS STYLING */ 

.logo h2 {
    font-family: 'Spectral SC', serif;
    text-align: center;
    position: absolute;
    margin-top: 30%;
}

#logo-mobile{
    height: 150px;
    width: 100%;
    font-weight: bold;
    text-align: center;
} 

 .banner{
    display: none;
    height: 250px;
    width: 100%;
    overflow: hidden;
}

.banner img {
    height: 100%;
    width: 100%;
}

.bannerText{
    color: rgb(255, 255, 255);
    font-size: 5rem;
    margin-left: 10%;
    margin-top: 50px;
    position: absolute;
}

.mainText {
    color: rgb(1, 1, 1);
    font-size: 2rem;
    margin-bottom: 2%;
    margin-top: 2%;
    text-align: center;
    font-weight: bold;
}


.shoppingContainer {
    display: flax;
    flex-wrap: wrap;
}

.carTrailerBox {
    background-color: rgb(112, 128, 144, 0.3);
    color: rgb(232, 48, 44);
    padding: 1rem;
    margin-bottom: 1rem;
}


.carTrailerTitle {
    font-family: 'Spectral SC', serif;
    text-align:center;
    font-size: 1.7rem;
    margin-bottom: 0.7rem;
}

.carTrailerPicture {
    width: 100%;
    border: 3px solid rgb(255, 255, 255);
}

.btn {
    background-color: rgb(233, 180, 102);
    color: rgb(1, 1, 1);
    text-transform: capitalize;
    padding: 1.1rem;
    border: 1px solid;
    width: 40%;
    display: inline-block;
}

.btn:hover{
        background-color: rgb(233, 180, 102, 0.3);
}

.footerContainer{
    display: flax;
    flex-wrap: wrap;
}

.footerBox {
    background-color: rgb(112, 128, 144, 0.9);
    color: rgb(232, 48, 44);
    padding: 1rem;
    margin-bottom: 1rem;
}

.footerPicture {
    width: 100%;
    border: 3px solid rgb(255, 255, 255);
	height: 25px;
	width: 25px;
	
}


.footerPictureText {
	text-align: center;
}
